{{#if user}}
<div class="container mt-3" id="dashboard">
  <div class="container">
    <h2 class="text-center mt-5">User Dashboard</h2>
    <p class="text-center mt-1">Create, view, edit, or delete your posts.</p>
    <div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-success" href="/addPost">New Post</a>
    </div>
  </div>

  {{#each blogPosts as |blogPost|}}
<div class="card mt-5 mb-1">
  <a href="#"><h5 class="card-header fs-4">{{toUpperCase blogPost.title}}</h5></a>
  <div class="card-body">
    <p class="card-text">Posted by: {{'User.username'}} on {{blogPost.createdAt}}</p>
  </div>
  <div class="row">
    <div class="col-6">
      <a class="btn btn-warning btn-block w-100" href="/edit">Edit</a>
    </div>
    <div class="col-6">
      <a class="btn btn-danger btn-block btn-delete w-100" href="/delete" data-id="{{blogPost.id}}">Delete</a>
    </div>
  </div>
</div>
{{/each}}

</div>
{{else}}
<p>You must log in to use the dashboard.</p>
{{/if}}

<script src="/js/dashboard.js"></script>